name: "Test"
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - 'main'
      - 'ci*' # Allow testing CI fixes without opening a PR

permissions:
  contents: read

jobs:
  tests-pass:
    name: all systems go
    runs-on: ubuntu-latest
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    steps:
      - run: exit 1
    needs:
      - tests

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          extra-platforms = aarch64-linux
    - name: install QEMU/binfmt
      uses: docker/setup-qemu-action@v3
      with:
        image: tonistiigi/binfmt:latest
        platforms: "arm64"
    - name: check formatting
      run: nix fmt -- --check .
    - name: check for dead code
      run: nix develop .# --command deadnix .
    - name: flake checks
      run: nix flake check --keep-going --print-build-logs
    - name: build packages
      run: nix build --keep-going --print-build-logs -f ./ci/packages.nix --argstr system aarch64-linux
